<div class="cta-hero" fxFlex="100%">
  <section class="section parallax bg1">
    <div class="content">

      <ul>
        <li>
          <a href="https://github.com/lelopez-io/">
            <div class="logo tilt-bkg">
              <div class="tilt-glare">
                <div class="tilt-img-ctn">
                  <img class="tilt-img" src="../../assets/imgs/linkedin_icon.png">
                </div>
              </div>
            </div>
          </a>

        </li>
        <li>
          <a href="https://github.com/lelopez-io/">
            <div class="logo tilt-bkg">
              <div class="tilt-glare">
                <div class="tilt-img-ctn">
                  <img class="tilt-img" src="../../assets/imgs/linkedin_icon.png">
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>




    </div>
  </section>
</div>