<div class="about-wp">
  <div class="about-ctn">
    <section>
      <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column" fxLyoutWrap="wrap">
        <span class="about-h2" fxFlex="100%">Based out of <strong>Houston,</strong> Texas.</span>
        <p class="about-p" fxFlex="100%" fxFlex.lt-md="75%"><strong>I’ve always enjoyed working in areas where design and
            development overlap.</strong><span>&nbsp;I currently use my knowledge in web development to help local businesses
            establish an online presence</span>. I&nbsp;specialize&nbsp;in developing&nbsp;
          <strong>custom website solutions with responsive design.</strong>&nbsp;If you are a business seeking to expand
          your online audience, contact me&nbsp;<strong><span style="color: #2f7e96;"><a style="color: #2f7e96; text-decoration: underline;"
                href="#contact">here.</a></span><span style="font-size: 16px;">&nbsp;</span></strong></p>
      </div>
    </section>

    <app-lp-about-skills></app-lp-about-skills>
  </div>

</div>