.about-wp {
    padding: 90px 30px;

    background-color: white;
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 500;
    
}

.about-ctn {
    margin: 0 auto;
    max-width: 960px;


}

.about-h2 {
    margin: .1em 0 0;
    font-size: 36px;
    line-height: 1.9em;
    color: #1f1f1f!important;
}

.about-p {
    padding-right: 25px;
}
@media only screen and (max-width: 959px) {
    .about-ctn {
        text-align: left;
    }
}