<div class="section-info">
  <div class="cta-hero" fxFlex="50%">
    <section class="section parallax bg1">
    </section>
  </div>

  <div class="cta-hero" fxFlex="50%">
      <section class="section parallax bg2">
          <div class="info">
              <h2>Make a <strong>Global</strong> Impact</h2>
              <p>An online web presence is accessible 24 hours a day, every day, to anyone around the world. By investing in a great
                website design you can increase both your visibility and credibility. Allow me to develop an effective website solution
                tailor-made for your business and prospective clients. </p>
            </div>
      </section>
  </div>
</div>