<div class="half-parallax">

  <div fxFlex="50%" fxHide.lt-md>
    <section class="parallax-bkg-half bg1">
    </section>
  </div>


  <div class="text-ctn align-left" fxFlex.lt-md="80%">
    <h2>Make a <strong>Global</strong> Impact</h2>

    <p>An online web presence is accessible 24 hours a day, every day, to anyone around the world. By investing in a great
      website design you can increase both your visibility and credibility. Allow me to develop an effective website solution
      tailor-made for your business and prospective clients. </p>
  </div>

</div>