<div class="half-parallax">

  <div class="text-ctn align-right" fxFlex.lt-md="80%">
    <h2>Let’s <strong>Work</strong> Together</h2>

    <p>I enjoy working on projects that involve <strong>WordPress or Ruby on Rails.</strong> I have experience using web
      technologies to bring a fully functional website design to life.<strong>Work is always delivered on-time or ahead of
        schedule with an emphasis on great communication.</strong>
    </p>
  </div>


  <div fxFlex="50%" fxHide.lt-md>
    <section class="parallax-bkg-half bg2">
    </section>
  </div>

</div>