<div class="section-info">
  <div class="cta-hero" fxFlex="50%">
    <section class="section parallax">
      <div class="info">
          <h2 >Let’s <strong>Work</strong> Together</h2>

       <p>I enjoy working on projects that involve&nbsp;<strong>WordPress
              or Ruby on Rails.</strong>&nbsp;I have experience using web technologies to bring a fully functional website
            design to life.&nbsp;<strong>Work is always delivered on-time or ahead of schedule with an emphasis&nbsp;on great
              communication.&nbsp;</strong>
          </p>
        </div>
    </section>
  </div>

  <div class="cta-hero" fxFlex="50%">
      <section class="section parallax bg1">
      </section>
    </div>
</div>

<section class="blank-space">
</section>
